<%- include('../partials/header') -%>

<div id="formHolder">
    <form id="mainForm" method="post" action="/reviewPost">
        <h1>Leave a review!</h1>
        <input class="formFill" id="text" name="username" placeholder="Your Name" required>
        <input class="formFill" id="text" name="shopName" placeholder="Shop Name" required>
        <input class="formFill" id="text" name="shopLocation" placeholder="Shop Location" required>
        <textarea class="formFill" name="review" placeholder="Write a review." required></textarea><br>
        <button  class="formFill" type="submit">Submit</button>
    </form>
    <img src="tea.png" id="formImg" alt="teaLogo" >
</div>

<div id="reviewH" >
    <h1>REVIEWS</h1>
</div>
   



<div id="reviewSection" >
    <ul id="reviewsList">
        <% reviews.reverse().forEach(function(review) { %>
           <li id=reviewSingle >
            <h1 id="reviewU"><%= review.username %>:</h1>
            <p id="reviewR">Shop Name: <%= review.shopName %></p>
            <p id="reviewR">Location: <%= review.shopLocation %></p>
            <p id="reviewR"><%= review.review %></p>
           </li>
           
        <% }) %>
    </ul>
    </div>





<%- include('../partials/footer') -%>