<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Finest Tea Goods - Tea Community, News, Events & Reviews</title>

    <meta name="description" content="Join the Finest Tea Goods community for the latest tea news, events, and expert tea shop reviews. Stay informed with our newsletter!"/>
    <meta name="author" content="Craig Hennessy" />
    <meta name="keywords" content="tea, tea community, tea reviews, best tea shops, tea events, tea culture, tea newsletter, finest tea goods" />
    
    <link rel="stylesheet" href="stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
  </head>
  <body>
    

    <div class="top" >

      <div class="logoHolder">
        <img id=logo src="tea.png" alt="logo" />
      </div>

      <div class="companyName">
        Finest Tea Goods
      </div>

      <div class="nav" >
        <div class="navBut">
        <a class="<%= activePage === 'home' ? 'navActive' : '' %>" href="/" >Home</a>
        <a class="<%= activePage === 'news' ? 'navActive' : '' %>" href="/news" >News</a>
        <a class="<%= activePage === 'events' ? 'navActive' : '' %>" href="/events" >Events</a>
        <a class="<%= activePage === 'contact' ? 'navActive' : '' %>" href="/contact" >Contact</a>
        <a class="<%= activePage === 'reviewP' ? 'navActive' : '' %>" href="/reviewP" >Reviews</a>
        </div>
        
      </div>

      </div>
    </div>